<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security SAML2</title>
</head>
<body style="background-color: white;">
<h1>SAML2 Login Example with Spring Security 5.2</h1>

<div>
<a th:href="@{/user/}">Go to user page.</a>
</div>
<div>
    <h2>user information</h2>
    <div th:if="${isAuthenticated}">
        <div>
            username: <p th:text="${name}">[name]</p>
        </div>

        <div>
            authorities<br>
            <ul th:each="a : ${authorities}">
                <li th:text="${a.authority}">xx</li>
            </ul>
        </div>
    </div>
    <div th:if="${not isAuthenticated}">
        <div>not authenticated.</div>
    </div>
</div>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>
